---
title: Features
heading: More than your average play store
description: The Play Store Fun system was built with kids in mind.  Our goal is to provide a product designed for fun, learning, and letting imaginations run wild.
pricing_table:
  - name: Features
    color: "#4a4a4a"
    features:
      - text: Access to the Play Store Fun online system
        highlight: true
      - text: Barcode scanner
        highlight: false
      - text: Barcode labels
        highlight: false
      - text: Play money
        highlight: false
      - text: Grocery bag
        highlight: false
      - text: Money bag
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=pro
      text: Get started
faq:
  - question: Will a computer be provided?
    answer: No, you must provide a computer with internet access, and a USB port.
  - question: Does my computer need to run Windows?
    answer: No, any operating system with a modern web browser and a USB port will work.
  - question: Does my computer need a web camera?
    answer: No, although you may use the Play Store Fun system without a web camera, we strongly encourage having one in order to take pictures of the items in your store.
  - question: Where do I get items to stock my play store?
    answer: This is the fun part!  You can use anything that your imagination can come up with.  Do you want to setup a grocery store?  Recycled food containers are perfect.  Do you want to setup a pet store?  Grab some stuffed animals and let the fun begin.  We include barcodes that can be applied to items that might not already have a barcode on them.
  - question: Questions?
    answer: Contact us with any further questions using our <a href="{{ site.contacturl }}">contact form</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Frequently Asked Questions</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
